# Create a New DB if not exististed otherwise open an already existed DB

In [131]:
import sqlite3
conn=sqlite3.connect('C:\\Users\\LENOVO\\Safai8.db')
print(type(conn))
conn.execute("PRAGMA foreign_keys = 1")
cur=conn.cursor()

print("Opened database successfully");

qry= '''
CREATE TABLE Customer (CustId INTEGER PRIMARY KEY AUTOINCREMENT, CustFN TEXT (1, 10), CustLN TEXT (1, 10), CustAdd TEXT (1, 50), CustMob INTEGER (10), CustEml TEXT (1, 20));

CREATE TABLE Booking (BookId INTEGER PRIMARY KEY AUTOINCREMENT, CustId INTEGER (5) REFERENCES Customer (CustId) ON DELETE NO ACTION ON UPDATE CASCADE NOT NULL, Chrg INTEGER (3) NOT NULL, BDate DATE (10) NOT NULL, BSlot TIME NOT NULL, BAvail TEXT (5));

CREATE TABLE Staff (StfId INTEGER PRIMARY KEY AUTOINCREMENT, BookId INTEGER (5) REFERENCES Booking (BookId) ON DELETE NO ACTION ON UPDATE CASCADE NOT NULL, StfNm TEXT (1, 10) NOT NULL, StfMob INTEGER (10) NOT NULL);

CREATE TABLE Feedback (FdId INTEGER PRIMARY KEY AUTOINCREMENT, CustId INTEGER (5) NOT NULL REFERENCES Customer (CustId) ON DELETE NO ACTION ON UPDATE NO ACTION, StfId INTEGER (5) REFERENCES Staff (StfId) ON DELETE NO ACTION ON UPDATE CASCADE NOT NULL, FdDsc TEXT (1, 50) NOT NULL);


'''        
try:
    cur.executescript(qry)
    print('right')
except Exception as e:
    print('Error', e)

<class 'sqlite3.Connection'>
Opened database successfully
right

In [132]:
#Import and check the current location
import os
os.getcwd()

'/Users/aakashsingla/Downloads'

In [133]:
#insert the data into tables
qry="insert into Customer (CustId, CustFN, CustLN, CustAdd, CustMob,CustEml ) values (?,?,?,?,?,?);"
customerlist = [
    (10201,'Alex','Lord',"'23, Queens Street XR5 QW5'",9635261247,'a.lord@cmail.com'),
    (10202,'Andy','Murrey',"'78, Wood Bridge Street BU6 BT8'",7788001155,'a.murrey@cmail.com'),
    (10203,'John','Kvey',"'C83, Seaface Street VB7 QW6'",8500221144,'j.kvey@cmail.com'),
    (10204,'Peter','Chu',"'85, King Philip Street JN8 MK9'",7485961232,'peter.c@cmail.com'),
    (10205,'Ron','James',"'11, Rockwell Street WE4 DF5'",2255889966,'r.james@cmail.com'),
    (10206,'Harry','Pother',"'85, St. Thomas Street CF6 NJ8'",4477885511,'h.pother@cmail.com'),
    (10207,'Kate','Winlet',"'15, Gandy Street DF6 JI7'",1144778855,'kt.winlet@cmial.com'),
    (10208,'Tom','Buxton',"'25, Edward Street KT6 WE7'",4477885566,'t.buxton@cmail.com'),
    (10209,'Claire','Thomas',"'23, Queens Street GY6 TR7'",1122335544,'c.thomas@cmail.com'),
    (10210,'Marry','Alison',"'87, Edward Street ER7 GY8'",8899665544,'m.alison@cmail.com')

]
    



cur.executemany(qry,customerlist)
conn.commit()

In [134]:
#fectch the results from custoemr table
qry= "select * from Customer"

In [135]:
#execute the above query
cur.execute(qry)

x=cur.fetchall()

In [136]:
#Print the results from above query
for x in x:
    print(x)

(10201, 'Alex', 'Lord', "'23, Queens Street XR5 QW5'", 9635261247, 'a.lord@cmail.com')
(10202, 'Andy', 'Murrey', "'78, Wood Bridge Street BU6 BT8'", 7788001155, 'a.murrey@cmail.com')
(10203, 'John', 'Kvey', "'C83, Seaface Street VB7 QW6'", 8500221144, 'j.kvey@cmail.com')
(10204, 'Peter', 'Chu', "'85, King Philip Street JN8 MK9'", 7485961232, 'peter.c@cmail.com')
(10205, 'Ron', 'James', "'11, Rockwell Street WE4 DF5'", 2255889966, 'r.james@cmail.com')
(10206, 'Harry', 'Pother', "'85, St. Thomas Street CF6 NJ8'", 4477885511, 'h.pother@cmail.com')
(10207, 'Kate', 'Winlet', "'15, Gandy Street DF6 JI7'", 1144778855, 'kt.winlet@cmial.com')
(10208, 'Tom', 'Buxton', "'25, Edward Street KT6 WE7'", 4477885566, 't.buxton@cmail.com')
(10209, 'Claire', 'Thomas', "'23, Queens Street GY6 TR7'", 1122335544, 'c.thomas@cmail.com')
(10210, 'Marry', 'Alison', "'87, Edward Street ER7 GY8'", 8899665544, 'm.alison@cmail.com')

In [137]:
#insert the data into table
qry="insert into Booking (BookId, CustId, Chrg, Bdate, Bslot,BAvail ) values (?,?,?,?,?,?);"
bookinglist = [
    (60501,10201,30,"'01/03/2021'","'09:00:00'","Yes"),
    (60502,10202,30,"'04/03/2021'","'11:00:00'","Yes"),
    (60503,10203,30,"'11/03/2021'","'09:00:00'","Yes"),
    (60504,10204,30,"'12/03/2021'","'09:00:00'","Yes"),
    (60505,10205,30,"'12/03/2021'","'13:00:00'","Yes"),
    (60506,10206,30,"'15/03/2021'","'15:00:00'","No"),
    (60507,10207,30,"'17/03/2021'","'09:00:00'","Yes"),
    (60508,10208,30,"'18/03/2021'","'13:00:00'","Yes"),
    (60509,10209,30,"'19/03/2021'","'13:00:00'","No"),
    (60510,10210,30,"'20/03/2021'","'13:00:00'","Yes")]

cur.executemany(qry,bookinglist)
conn.commit()

In [138]:
#fectch and print the results from Booking table   
qry= "select * from Booking"
cur.execute(qry)

x=cur.fetchall()
for by in x:
    print(by)

(60501, 10201, 30, "'01/03/2021'", "'09:00:00'", 'Yes')
(60502, 10202, 30, "'04/03/2021'", "'11:00:00'", 'Yes')
(60503, 10203, 30, "'11/03/2021'", "'09:00:00'", 'Yes')
(60504, 10204, 30, "'12/03/2021'", "'09:00:00'", 'Yes')
(60505, 10205, 30, "'12/03/2021'", "'13:00:00'", 'Yes')
(60506, 10206, 30, "'15/03/2021'", "'15:00:00'", 'No')
(60507, 10207, 30, "'17/03/2021'", "'09:00:00'", 'Yes')
(60508, 10208, 30, "'18/03/2021'", "'13:00:00'", 'Yes')
(60509, 10209, 30, "'19/03/2021'", "'13:00:00'", 'No')
(60510, 10210, 30, "'20/03/2021'", "'13:00:00'", 'Yes')

In [139]:
#insert the data into staff table
qry="insert into Staff (StfId, BookId, StfNm, StfMob ) values (?,?,?,?);"
stafflist = [
    (70311,60501,'Robert',8877001122),
 (70312,60502,'Perry',2233114400),
(70313,60503,'Stephne',8899665500),
(70314,60504,'Richard',8899002255),
(70315,60505,'Charles',1144770033),
(70316,60506,'Rowan',1100889977),
(70317,60507,'Elizabeth',8855223366),
(70318,60508,'George',9955117755),
(70319,60509,'Emily',3355778866),
(70320,60510,'Sindrella',1155773399)]

    
cur.executemany(qry,stafflist)
conn.commit()

In [140]:
#fectch and print the results from Booking table   
qry= "select * from Staff"
cur.execute(qry)

x=cur.fetchall()
for by in x:
    print(by)

(70311, 60501, 'Robert', 8877001122)
(70312, 60502, 'Perry', 2233114400)
(70313, 60503, 'Stephne', 8899665500)
(70314, 60504, 'Richard', 8899002255)
(70315, 60505, 'Charles', 1144770033)
(70316, 60506, 'Rowan', 1100889977)
(70317, 60507, 'Elizabeth', 8855223366)
(70318, 60508, 'George', 9955117755)
(70319, 60509, 'Emily', 3355778866)
(70320, 60510, 'Sindrella', 1155773399)

In [141]:
#insert the data into Feedaback table
qry="insert into Feedback (FdId, CustId, StfId, FdDsc ) values (?,?,?,?);"
feedbacklist = [(90531,10201,70311,"'Very Good'"),
                (90532,10202,70312,'Excellent'),
                (90533,10203,70313,'Good'),
                (90534,10204,70314,'Beyond Expectation'),
                (90535,10205,70315,'Excellent'),
                (90536,10206,70316,'Very Good'),
                (90537,10207,70317,'Scope for Improvement'),
                (90538,10208,70318,'Very Good'),
                (90539,10209,70319,'Very Good'),
                (90540,10210,70320,'Excellent')]

   
cur.executemany(qry,feedbacklist)
conn.commit()

In [142]:
#fectch and print the results from feedback table  
query= "Select * from Feedback;"
cur.execute(query)
values=cur.fetchall()
for y in values:
    print(y)

(90531, 10201, 70311, "'Very Good'")
(90532, 10202, 70312, 'Excellent')
(90533, 10203, 70313, 'Good')
(90534, 10204, 70314, 'Beyond Expectation')
(90535, 10205, 70315, 'Excellent')
(90536, 10206, 70316, 'Very Good')
(90537, 10207, 70317, 'Scope for Improvement')
(90538, 10208, 70318, 'Very Good')
(90539, 10209, 70319, 'Very Good')
(90540, 10210, 70320, 'Excellent')

# #Update

In [143]:
#increase the price and update into the booking table
qry='''

update Booking 
set chrg = chrg*1.2
;
'''

try:
        cur.execute(qry)
        print ('Prices Updated!')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Prices Updated!

# #Delete

In [144]:
#Deleting of a particular record
qry='''

delete from Feedback
where FdId = 90540
;
'''

try:
        cur.execute(qry)
        print ('Feedback Id Deleted')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Feedback Id Deleted

In [145]:
#looking for booking availabilty
qry= "select BookId, Chrg, Bdate, Bslot,BAvail from Booking  where BAvail= 'Yes' ;"
cur.execute(qry)
value= cur.fetchall()
for x in value:
    print(x)

(60501, 36, "'01/03/2021'", "'09:00:00'", 'Yes')
(60502, 36, "'04/03/2021'", "'11:00:00'", 'Yes')
(60503, 36, "'11/03/2021'", "'09:00:00'", 'Yes')
(60504, 36, "'12/03/2021'", "'09:00:00'", 'Yes')
(60505, 36, "'12/03/2021'", "'13:00:00'", 'Yes')
(60507, 36, "'17/03/2021'", "'09:00:00'", 'Yes')
(60508, 36, "'18/03/2021'", "'13:00:00'", 'Yes')
(60510, 36, "'20/03/2021'", "'13:00:00'", 'Yes')

In [146]:
import pandas as pd

In [147]:
#convert the data into Dataframe
frame= pd.DataFrame(value)

In [148]:
frame.columns=["Booking Id", "Charges", "Booking Date", "Booking Slot","Booking Availablity"]

In [149]:
frame

   Booking Id  Charges  Booking Date Booking Slot Booking Availablity
0       60501       36  '01/03/2021'   '09:00:00'                 Yes
1       60502       36  '04/03/2021'   '11:00:00'                 Yes
2       60503       36  '11/03/2021'   '09:00:00'                 Yes
3       60504       36  '12/03/2021'   '09:00:00'                 Yes
4       60505       36  '12/03/2021'   '13:00:00'                 Yes
5       60507       36  '17/03/2021'   '09:00:00'                 Yes
6       60508       36  '18/03/2021'   '13:00:00'                 Yes
7       60510       36  '20/03/2021'   '13:00:00'                 Yes

In [150]:
#Adding a new column
frame["Bookin_Id_Ind"]= frame["Booking Id"]

In [151]:
#Setting an Index
frame.set_index("Bookin_Id_Ind", inplace= True)

# Want to book

In [152]:
frame

,Booking Id,Charges,Booking Date,Booking Slot,Booking Availablity
Bookin_Id_Ind,,,,,
60501,60501,36,'01/03/2021','09:00:00',Yes
60502,60502,36,'04/03/2021','11:00:00',Yes
60503,60503,36,'11/03/2021','09:00:00',Yes
60504,60504,36,'12/03/2021','09:00:00',Yes
60505,60505,36,'12/03/2021','13:00:00',Yes
60507,60507,36,'17/03/2021','09:00:00',Yes
60508,60508,36,'18/03/2021','13:00:00',Yes
60510,60510,36,'20/03/2021','13:00:00',Yes

In [153]:
#converting the records into DF
frame=frame.to_dict('index')
V=frame.items()

In [154]:
#import Redis from 
import redis

In [155]:
#we are using DB number-8
r = redis.Redis(host='localhost', port=6379, db=8)

In [156]:
#setting up the pipelining of redis 
with r.pipeline() as pipe:
    for BookId, BookDetails in V:
        pipe.hmset(BookId, BookDetails)
    pipe.execute()
r.bgsave()

<ipython-input-156-7819dc6b1cdf>:4: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset(BookId, BookDetails)

True

In [157]:
#these are the hash keys of the redis database
r.keys()

[b'60504',
 b'60502',
 b'60505',
 b'60501',
 b'60508',
 b'60510',
 b'60503',
 b'60507']

In [158]:
#it gives us details associated with particular key
r.hgetall("60502")

{b'Charges': b'36',
 b'Booking Date': b"'04/03/2021'",
 b'Booking Slot': b"'11:00:00'",
 b'Booking Availablity': b'Yes',
 b'Booking Id': b'60502'}

In [159]:
#Updation in hashkey records
r.hset("60503","Charges" ,50)

0

In [160]:
r.hgetall("60503")

{b'BAvail': b'No',
 b'Booking Id': b'60503',
 b'Charges': b'50',
 b'Booking Date': b"'11/03/2021'",
 b'Booking Slot': b"'09:00:00'",
 b'Booking Availablity': b'Yes'}

In [161]:
#delete the existing record
r.delete("60503")

1

In [162]:
r.hgetall("60503")# which shows key is deleted succefully

{}

# Polyglot Persistence: Which means, we will be using multiple databases for the same data i.e. Nosql and RDBMS

In [163]:
#creating a function 
def BookingExists1(BID):
    x=0
    query="select BAvail from Booking where BookId = ?"
    out = cur.execute(query,(BID,)).fetchall()
    print(out[0][0])
    if out[0][0]=='No':
        return True
        
    else:
        return False

In [164]:
#creating a function 
def Room1(x):
    query="update Booking set BAvail= 'No' where BookId= ?;"
    cur.execute(query,(x,))
    conn.commit()
    
    #reddis
#     tb = ':'+str(x)
    r.hset(str(x),"BAvail", "No")
    
    print (" Booking Done")

In [165]:
#creating a function 
def completebooking():
    BID= input("Enter the Book ID:")
    if BookingExists1(BID)== False:
        print("fghj")
        Room1(BID)

    else:
        print("Booking Unavailable")

In [166]:
# enter the number to book for example 60503
completebooking()

Enter the Book ID:60503
Yes
fghj
 Booking Done

In [167]:
#You can see, that number is book and status available is No
r.hgetall("60503")

{b'BAvail': b'No'}